node_modules
.env
.env.*
prisma/
prisma/*.env
prisma/*.db
prisma/*.sqlite
prisma/*.bak
prisma/migrations/
*.sqlite
*.db
*.bak
*.sql
__generated__/
generated/
middlewares/

/generated/prisma
*.log


npm-debug.log*
yarn-debug.log*
yarn-error.log*

.local

 
coverage/


dist/
build/


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.DS_Store
Thumbs.db
desktop.ini
